<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinfang.graduationproject.mapper.CcGradecomposeMapper">

    <resultMap id="BaseResultMap" type="com.jinfang.graduationproject.domain.CcGradecompose">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="remark" jdbcType="LONGVARCHAR" property="remark"/>
        <result column="major_id" jdbcType="BIGINT" property="majorId"/>
        <result column="is_del" jdbcType="BIT" property="isDel"/>
    </resultMap>

    <resultMap id="ExtResultMap" type="com.jinfang.graduationproject.vo.score.GradeComposeReq">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="roles" jdbcType="VARCHAR" property="roles"/>
    </resultMap>

    <resultMap id="IndicationResultMap" type="com.jinfang.graduationproject.vo.score.GradeComposeIndicationReq">
        <result column="course_gradecompose_id" jdbcType="BIGINT" property="courseGradecomposeId"/>
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="max_score" jdbcType="DECIMAL" property="maxScore"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
    </resultMap>

    <insert id="add" parameterType="com.jinfang.graduationproject.domain.CcGradecompose">
        insert into cc_gradecompose
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="modifyDate != null">
                modify_date,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="majorId != null">
                major_id,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyDate != null">
                #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=LONGVARCHAR},
            </if>
            <if test="majorId != null">
                #{majorId,jdbcType=BIGINT},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        delete
        from cc_gradecompose
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.jinfang.graduationproject.domain.CcGradecompose">
        update cc_gradecompose
        <set>
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=LONGVARCHAR},
            </if>
            <if test="majorId != null">
                major_id = #{majorId,jdbcType=BIGINT},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select *
        from cc_gradecompose
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="findPage" resultMap="BaseResultMap">
        select *
        from cc_gradecompose
    </select>

    <select id="selectListBySchoolIdAndPeriod" resultMap="ExtResultMap">
        select cg.id, g.name, sr.roles
        from cc_course_periode cp
        join cc_teacher_course tc on cp.course_id = tc.course_id
        join cc_course_gradecompose cg on tc.id = cg.teacher_course_id and cg.is_del = 0
        join cc_gradecompose g on cg.gradecompose_id = g.id and g.is_del = 0
        join gp_score_role sr on cg.id = sr.grade_compose_id and sr.is_del = 0

        where cp.school_id = #{schoolId} and cp.course_type=1
        <if test="grade != null and grade != ''">
            and cp.period_date = #{grade}
        </if>
    </select>

    <select id="selectIndications" resultMap="IndicationResultMap">
        select ci.id, ci.content, ccg.id as course_gradecompose_id, cgi.max_score, ci.sort
        from cc_indication ci
         join cc_course_gradecompose_indication cgi on cgi.indication_id=ci.id and cgi.is_del = 0
         join cc_course_gradecompose ccg on ccg.id=cgi.course_gradecompose_id and ccg.is_del = 0
        where ccg.id= #{courseGradecomposeId}
        order by ci.sort

    </select>



</mapper>