<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinfang.graduationproject.mapper.CcScoreStuIndigradeMapper">

    <resultMap id="BaseResultMap" type="com.jinfang.graduationproject.domain.CcScoreStuIndigrade">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="gradecompose_indication_id" jdbcType="BIGINT" property="gradecomposeIndicationId"/>
        <result column="student_id" jdbcType="BIGINT" property="studentId"/>
        <result column="grade" jdbcType="DECIMAL" property="grade"/>
        <result column="level_detail_id" jdbcType="BIGINT" property="levelDetailId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="is_del" jdbcType="BIT" property="isDel"/>
    </resultMap>

    <insert id="add" parameterType="com.jinfang.graduationproject.domain.CcScoreStuIndigrade">
        insert into cc_score_stu_indigrade
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="modifyDate != null">
                modify_date,
            </if>
            <if test="gradecomposeIndicationId != null">
                gradecompose_indication_id,
            </if>
            <if test="studentId != null">
                student_id,
            </if>
            <if test="grade != null">
                grade,
            </if>
            <if test="levelDetailId != null">
                level_detail_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyDate != null">
                #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="gradecomposeIndicationId != null">
                #{gradecomposeIndicationId,jdbcType=BIGINT},
            </if>
            <if test="studentId != null">
                #{studentId,jdbcType=BIGINT},
            </if>
            <if test="grade != null">
                #{grade,jdbcType=DECIMAL},
            </if>
            <if test="levelDetailId != null">
                #{levelDetailId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        delete
        from cc_score_stu_indigrade
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.jinfang.graduationproject.domain.CcScoreStuIndigrade">
        update cc_score_stu_indigrade
        <set>
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="gradecomposeIndicationId != null">
                gradecompose_indication_id = #{gradecomposeIndicationId,jdbcType=BIGINT},
            </if>
            <if test="studentId != null">
                student_id = #{studentId,jdbcType=BIGINT},
            </if>
            <if test="grade != null">
                grade = #{grade,jdbcType=DECIMAL},
            </if>
            <if test="levelDetailId != null">
                level_detail_id = #{levelDetailId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select *
        from cc_score_stu_indigrade
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="findPage" resultMap="BaseResultMap">
        select *
        from cc_score_stu_indigrade
    </select>

    <select id="selectCourseGradecomposeIndicationId" resultType="java.lang.Long">
        select id
        from cc_course_gradecompose_indication
        where course_gradecompose_id = #{courseGradecomposeId}
          and indication_id = #{indicationId}
        order by id desc
        limit 1
    </select>

</mapper>