<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinfang.graduationproject.mapper.GpDefenseAssessmentMapper">

    <resultMap id="BaseResultMap" type="com.jinfang.graduationproject.domain.GpDefenseAssessment">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="subject_id" jdbcType="BIGINT" property="subjectId"/>
        <result column="student_id" jdbcType="BIGINT" property="studentId"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="operate_user" jdbcType="VARCHAR" property="operateUser"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="is_del" jdbcType="INTEGER" property="isDel"/>
    </resultMap>

    <resultMap id="ExtResultMap" type="com.jinfang.graduationproject.vo.defense.SubjectStudentDefenseAssessmentRes">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="subject_id" jdbcType="BIGINT" property="subjectId"/>
        <result column="subject_name" jdbcType="VARCHAR" property="subjectName"/>
        <result column="subject_type" jdbcType="INTEGER" property="subjectType"/>
        <result column="subject_source" jdbcType="INTEGER" property="subjectSource"/>
        <result column="subject_nature" jdbcType="INTEGER" property="subjectNature"/>
        <result column="major_name" jdbcType="VARCHAR" property="majorName"/>
        <result column="student_id" jdbcType="BIGINT" property="studentId"/>
        <result column="student_name" jdbcType="VARCHAR" property="studentName"/>
    </resultMap>

    <insert id="add" parameterType="com.jinfang.graduationproject.domain.GpDefenseAssessment">
        insert into gp_defense_assessment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="subjectId != null">
                subject_id,
            </if>
            <if test="studentId != null">
                student_id,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="operateUser != null">
                operate_user,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="modifyDate != null">
                modify_date,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="subjectId != null">
                #{subjectId,jdbcType=BIGINT},
            </if>
            <if test="studentId != null">
                #{studentId,jdbcType=BIGINT},
            </if>
            <if test="level != null">
                #{level,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="operateUser != null">
                #{operateUser,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyDate != null">
                #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        delete
        from gp_defense_assessment
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.jinfang.graduationproject.domain.GpDefenseAssessment">
        update gp_defense_assessment
        <set>
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="subjectId != null">
                subject_id = #{subjectId,jdbcType=BIGINT},
            </if>
            <if test="studentId != null">
                student_id = #{studentId,jdbcType=BIGINT},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="operateUser != null">
                operate_user = #{operateUser,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select *
        from gp_defense_assessment
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="findPage" resultMap="ExtResultMap">
        select ds.id,
        ss.subject_id,
        ss.student_id,
        gs.name as subject_name,
        gs.type as subject_type,
        gs.source as subject_source,
        gs.nature as subject_nature,
        major.name as major_name,
        cs.name as student_name
        from gp_subject_student ss
        join gp_subject gs on ss.subject_id = gs.id and gs.is_del = 0 and gs.status = 2 and ss.status = 1
        join cc_teacher ct on gs.teacher_id = ct.id and ct.is_del = 0
        join cc_student cs on ss.student_no = cs.student_no and cs.is_del = 0
        left join cc_class cc on cc.id = cs.class_id
        left join sys_office clazz on clazz.id = cc.id
        left join sys_office major on major.id = clazz.parentid
        left join gp_defense_assessment ds on ds.subject_id = ss.subject_id and ds.student_id = ss.student_id

        where ct.school_id = #{schoolId} and gs.grade = #{grade}

        <if test="studentName != null and studentName !=''">
            and cs.name like CONCAT('%',#{studentName},'%')
        </if>

        <if test="majorName != null and majorName !=''">
            and major.name like CONCAT('%',#{majorName},'%')
        </if>

        <if test="subjectName != null and subjectName !=''">
            and gs.name like CONCAT('%',#{subjectName},'%')
        </if>

        <if test="subjectType != null and subjectType !=''">
            and gs.type = #{subjectType}
        </if>

        <if test="subjectSource != null and subjectSource !=''">
            and gs.source = #{subjectSource}
        </if>
    </select>

    <select id="selectBySubjectIdAndStudentId" resultMap="BaseResultMap">
        select *
        from gp_defense_assessment
        where subject_id = #{subjectId}
          and student_id = #{studentId}
        order by id desc
        limit 1
    </select>
</mapper>