<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinfang.graduationproject.mapper.GpDissertationHistoryMapper">

  <resultMap id="BaseResultMap" type="com.jinfang.graduationproject.domain.GpDissertationHistory">
	<id column="id" jdbcType="BIGINT" property="id" />
	<result column="dissertation_id" jdbcType="BIGINT" property="dissertationId" />
	<result column="subject_id" jdbcType="BIGINT" property="subjectId" />
	<result column="student_id" jdbcType="BIGINT" property="studentId" />
	<result column="student_no" jdbcType="VARCHAR" property="studentNo" />
	<result column="file_id" jdbcType="BIGINT" property="fileId" />
	<result column="similarity_file_id" jdbcType="BIGINT" property="similarityFileId" />
	<result column="submit_time" jdbcType="TIMESTAMP" property="submitTime" />
	<result column="submit_user" jdbcType="VARCHAR" property="submitUser" />
	<result column="status" jdbcType="INTEGER" property="status" />
	<result column="approve_time" jdbcType="TIMESTAMP" property="approveTime" />
	<result column="approve_user" jdbcType="VARCHAR" property="approveUser" />
	<result column="approve_suggest" jdbcType="VARCHAR" property="approveSuggest" />
	<result column="remark" jdbcType="VARCHAR" property="remark" />
	<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
	<result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
	<result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="total_scores" jdbcType="DOUBLE" property="totalScores" />
  </resultMap>
  
  <insert id="add" parameterType="com.jinfang.graduationproject.domain.GpDissertationHistory">
    insert into gp_dissertation_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dissertationId != null">
        dissertation_id,
      </if>
      <if test="subjectId != null">
        subject_id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="studentNo != null">
        student_no,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
       <if test="similarityFileId != null">
        similarity_file_id,
      </if>
      <if test="submitTime != null">
        submit_time,
      </if>
      <if test="submitUser != null">
        submit_user,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="approveTime != null">
        approve_time,
      </if>
      <if test="approveUser != null">
        approve_user,
      </if>
      <if test="approveSuggest != null">
        approve_suggest,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="totalScores != null">
        total_scores,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dissertationId != null">
        #{dissertationId,jdbcType=BIGINT},
      </if>
      <if test="subjectId != null">
        #{subjectId,jdbcType=BIGINT},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=BIGINT},
      </if>
      <if test="studentNo != null">
        #{studentNo,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=BIGINT},
      </if>
      <if test="similarityFileId != null">
        #{similarityFileId,jdbcType=BIGINT},
      </if>
      <if test="submitTime != null">
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitUser != null">
        #{submitUser,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="approveTime != null">
        #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveUser != null">
        #{approveUser,jdbcType=VARCHAR},
      </if>
      <if test="approveSuggest != null">
        #{approveSuggest,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="totalScores != null">
        #{totalScores,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>

  <delete id="delete" parameterType="java.lang.Long">
    delete from gp_dissertation_history
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <update id="update" parameterType="com.jinfang.graduationproject.domain.GpDissertationHistory">
    update gp_dissertation_history
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="dissertationId != null">
        dissertation_id = #{dissertationId,jdbcType=BIGINT},
      </if>
      <if test="subjectId != null">
        subject_id = #{subjectId,jdbcType=BIGINT},
      </if>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=BIGINT},
      </if>
      <if test="studentNo != null">
        student_no = #{studentNo,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=BIGINT},
      </if>
       <if test="similarityFileId != null">
        similarity_file_id = #{similarityFileId,jdbcType=BIGINT},
      </if>
      <if test="submitTime != null">
        submit_time = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitUser != null">
        submit_user = #{submitUser,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="approveTime != null">
        approve_time = #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveUser != null">
        approve_user = #{approveUser,jdbcType=VARCHAR},
      </if>
      <if test="approveSuggest != null">
        approve_suggest = #{approveSuggest,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="totalScores != null">
        total_scores = #{totalScores,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from gp_dissertation_history
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findPage" resultMap="BaseResultMap">
    select * from gp_dissertation_history
  </select>
  
  <insert id="copyInsert" parameterType="java.lang.Long">
    insert into gp_dissertation_history(dissertation_id,subject_id,student_id,student_no,file_id,similarity_file_id,submit_time,submit_user,
    status,approve_time,approve_user,approve_suggest,remark,create_date,modify_date,is_del,total_scores)
    select id,subject_id,student_id,student_no,file_id,similarity_file_id,submit_time,submit_user,
    status,approve_time,approve_user,approve_suggest,remark,create_date,modify_date,is_del,total_scores
    from gp_dissertation where id=#{id}
  </insert>
  
  <resultMap id="findByDissertationIdListBaseResultMap" type="com.jinfang.graduationproject.vo.teacher.guider.dissertation.FindByDissertationIdListRespVo">
	<id column="id" jdbcType="BIGINT" property="id" />
	<result column="approve_suggest" jdbcType="VARCHAR" property="approveSuggest" />
	<result column="subject_name" jdbcType="VARCHAR" property="subjectName" />
	<result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
	<result column="student_name" jdbcType="VARCHAR" property="studentName" />
	<result column="file_id" jdbcType="BIGINT" property="fileId" />
	<result column="similarity_file_id" jdbcType="BIGINT" property="similarityFileId" />
	<result column="submit_time" jdbcType="TIMESTAMP" property="submitTime" />
  </resultMap>
  
   <select id="findByDissertationIdList" parameterType="java.lang.Long" resultMap="findByDissertationIdListBaseResultMap">
    	select his.id,his.submit_time,his.file_id,his.similarity_file_id,sbj.name subject_name,sbj.teacher_name,his.approve_suggest,cstu.name student_name from gp_dissertation_history his
		inner join gp_subject sbj on his.subject_id = sbj.id
		inner join cc_student cstu on cstu.id = his.student_id
        where his.dissertation_id = #{dissertationId}
  </select>
  
  
</mapper>