<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinfang.graduationproject.mapper.GpGuideAssessmentMapper">

    <resultMap id="BaseResultMap" type="com.jinfang.graduationproject.domain.GpGuideAssessment">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="subject_id" jdbcType="BIGINT" property="subjectId"/>
        <result column="student_id" jdbcType="BIGINT" property="studentId"/>
        <result column="student_no" jdbcType="VARCHAR" property="studentNo"/>
        <result column="is_pass" jdbcType="INTEGER" property="isPass"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
        <result column="comment" jdbcType="LONGVARCHAR" property="comment"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="is_del" jdbcType="INTEGER" property="isDel"/>
    </resultMap>

    <insert id="add" parameterType="com.jinfang.graduationproject.domain.GpGuideAssessment" useGeneratedKeys="true"
            keyProperty="id">
        insert into gp_guide_assessment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="subjectId != null">
                subject_id,
            </if>
            <if test="studentId != null">
                student_id,
            </if>
            <if test="studentNo != null">
                student_no,
            </if>
            <if test="isPass != null">
                is_pass,
            </if>
            <if test="score != null">
                score,
            </if>
            <if test="comment != null">
                comment,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="modifyDate != null">
                modify_date,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="subjectId != null">
                #{subjectId,jdbcType=BIGINT},
            </if>
            <if test="studentId != null">
                #{studentId,jdbcType=BIGINT},
            </if>
            <if test="studentNo != null">
                #{studentNo,jdbcType=VARCHAR},
            </if>
            <if test="isPass != null">
                #{isPass,jdbcType=INTEGER},
            </if>
            <if test="score != null">
                #{score,jdbcType=INTEGER},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=LONGVARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyDate != null">
                #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        delete
        from gp_guide_assessment
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.jinfang.graduationproject.domain.GpGuideAssessment">
        update gp_guide_assessment
        <set>
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="subjectId != null">
                subject_id = #{subjectId,jdbcType=BIGINT},
            </if>
            <if test="studentId != null">
                student_id = #{studentId,jdbcType=BIGINT},
            </if>
            <if test="studentNo != null">
                student_no = #{studentNo,jdbcType=VARCHAR},
            </if>
            <if test="isPass != null">
                is_pass = #{isPass,jdbcType=INTEGER},
            </if>
            <if test="score != null">
                score = #{score,jdbcType=INTEGER},
            </if>
            <if test="comment != null">
                comment = #{comment,jdbcType=LONGVARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select *
        from gp_guide_assessment
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="findPage" resultMap="BaseResultMap">
        select *
        from gp_guide_assessment
    </select>

    <resultMap id="findPageByNameBaseResultMap"
               type="com.jinfang.graduationproject.vo.teacher.guider.assessment.FindPageByNameAssessmentRespVo"
               extends="BaseResultMap">
        <result column="grade" jdbcType="VARCHAR" property="grade"/>
        <result column="subject_name" jdbcType="VARCHAR" property="subjectName"/>
        <result column="student_name" jdbcType="VARCHAR" property="studentName"/>
        <result column="class_name" jdbcType="VARCHAR" property="className"/>
        <result column="major_name" jdbcType="VARCHAR" property="majorName"/>
        <result column="college_name" jdbcType="VARCHAR" property="collegeName"/>
        <result column="file_id" jdbcType="BIGINT" property="dissertationFileId"/>
        <result column="similarity_file_id" jdbcType="BIGINT" property="dissertationSimilarityFileId"/>
    </resultMap>

    <select id="findPageByName" parameterType="com.jinfang.graduationproject.vo.teacher.translate.QueryTranslateResqVo"
            resultMap="findPageByNameBaseResultMap">
        select sj.grade,sj.name subject_name,stu.subject_id,cs.name student_name,
        cs.id student_id,stu.student_no,cat.is_pass,clazz.name class_name,
        cat.score,cat.comment,cat.status,cat.id,
        major.name major_name,
        college.name college_name,
        gd.file_id, gd.similarity_file_id
        from gp_subject_student stu
        inner join gp_subject sj on stu.subject_id = sj.id and stu.status = 1 and sj.status = 2
        inner join cc_student cs on cs.id = stu.student_id
        left join gp_guide_assessment cat on cat.subject_id = sj.id and stu.student_id = cat.student_id
        left join gp_dissertation gd on stu.subject_id = gd.subject_id and stu.student_id = gd.student_id
        LEFT JOIN cc_class cc ON cc.id = cs.class_id
        LEFT JOIN sys_office clazz ON clazz.id = cc.id
        LEFT JOIN sys_office major ON major.id = clazz.parentid
        LEFT JOIN sys_office college ON college.id = major.parentid
        LEFT JOIN sys_office school ON school.id = college.parentid
        where school.id=#{schoolId} and sj.teacher_id = #{teacherId}
        <if test="subjectName != null and subjectName !=''">
            and sj.name like concat('%', #{subjectName}, '%')
        </if>
        <if test="grade != null and grade !=''">
            and sj.grade = #{grade}
        </if>
        <if test="status != null and status != '' and status !=0">
            and cat.status = #{status}
        </if>
        <if test="status != null and status != '' and status ==0">
            and cat.status is null
        </if>
    </select>

    <select id="selectBySubjectIdAndStudentId" resultMap="BaseResultMap">
        select * from gp_guide_assessment where subject_id = #{subjectId} and student_id = #{studentId} order by id desc limit 1
    </select>



</mapper>