<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinfang.graduationproject.mapper.GpReviewMapper">

    <resultMap id="BaseResultMap" type="com.jinfang.graduationproject.domain.GpReview">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="subject_id" jdbcType="BIGINT" property="subjectId"/>
        <result column="student_id" jdbcType="BIGINT" property="studentId"/>
        <result column="student_no" jdbcType="VARCHAR" property="studentNo"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime"/>
        <result column="submit_user" jdbcType="VARCHAR" property="submitUser"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="approve_time" jdbcType="TIMESTAMP" property="approveTime"/>
        <result column="approve_user" jdbcType="VARCHAR" property="approveUser"/>
        <result column="approve_suggest" jdbcType="VARCHAR" property="approveSuggest"/>
        <result column="total_scores" jdbcType="DOUBLE" property="totalScores"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="is_del" jdbcType="INTEGER" property="isDel"/>
    </resultMap>

    <insert id="add" parameterType="com.jinfang.graduationproject.domain.GpReview" useGeneratedKeys="true"
            keyProperty="id">
        insert into gp_review
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="subjectId != null">
                subject_id,
            </if>
            <if test="studentId != null">
                student_id,
            </if>
            <if test="studentNo != null">
                student_no,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="submitTime != null">
                submit_time,
            </if>
            <if test="submitUser != null">
                submit_user,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="approveTime != null">
                approve_time,
            </if>
            <if test="approveUser != null">
                approve_user,
            </if>
            <if test="approveSuggest != null">
                approve_suggest,
            </if>
            <if test="totalScores != null">
                total_scores,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="modifyDate != null">
                modify_date,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="subjectId != null">
                #{subjectId,jdbcType=BIGINT},
            </if>
            <if test="studentId != null">
                #{studentId,jdbcType=BIGINT},
            </if>
            <if test="studentNo != null">
                #{studentNo,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="submitTime != null">
                #{submitTime,jdbcType=TIMESTAMP},
            </if>
            <if test="submitUser != null">
                #{submitUser,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="approveTime != null">
                #{approveTime,jdbcType=TIMESTAMP},
            </if>
            <if test="approveUser != null">
                #{approveUser,jdbcType=VARCHAR},
            </if>
            <if test="approveSuggest != null">
                #{approveSuggest,jdbcType=VARCHAR},
            </if>
            <if test="totalScores != null">
                #{totalScores,jdbcType=DOUBLE},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyDate != null">
                #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        delete
        from gp_review
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.jinfang.graduationproject.domain.GpReview">
        update gp_review
        <set>
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="subjectId != null">
                subject_id = #{subjectId,jdbcType=BIGINT},
            </if>
            <if test="studentId != null">
                student_id = #{studentId,jdbcType=BIGINT},
            </if>
            <if test="studentNo != null">
                student_no = #{studentNo,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="submitTime != null">
                submit_time = #{submitTime,jdbcType=TIMESTAMP},
            </if>
            <if test="submitUser != null">
                submit_user = #{submitUser,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="approveTime != null">
                approve_time = #{approveTime,jdbcType=TIMESTAMP},
            </if>
            <if test="approveUser != null">
                approve_user = #{approveUser,jdbcType=VARCHAR},
            </if>
            <if test="approveSuggest != null">
                approve_suggest = #{approveSuggest,jdbcType=VARCHAR},
            </if>
            <if test="totalScores != null">
                total_scores = #{totalScores,jdbcType=DOUBLE},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select *
        from gp_review
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="findPage" resultMap="BaseResultMap">
        select *
        from gp_review
    </select>

    <resultMap id="findPageByNameResultMap" type="com.jinfang.graduationproject.vo.teacher.review.QueryAllResqVo"
               extends="BaseResultMap">
        <result column="class_name" jdbcType="LONGVARCHAR" property="className"/>
        <result column="student_name" jdbcType="LONGVARCHAR" property="studentName"/>
    </resultMap>

    <select id="findPageByName" parameterType="com.jinfang.graduationproject.vo.teacher.review.QueryAllResqVo"
            resultMap="findPageByNameResultMap">
        select r.id,r.subject_id,r.student_id,r.student_no,r.content,r.status,s.name,s.grade,cs.name
        student_name,cs.grade class_name,r.total_scores,r.approve_suggest from gp_review r
        inner join gp_subject s on r.subject_id=s.id
        inner join cc_student cs on cs.id=r.student_id
        where s.teacher_id=#{teacherId} and r.is_del=0 and r.status != 0
        <if test="subjectName != null and subjectName !=''">
            and r.name like concat('%', #{subjectName}, '%')
        </if>
        <if test="grade != null and grade !=''">
            and s.grade = #{grade}
        </if>
        <if test="status != null and status != ''">
            and r.status = #{status}
        </if>
    </select>

    <!-- 根据学号查询已接收课题文献 -->
    <resultMap id="getByStudentNoReviewListResultMap"
               type="com.jinfang.graduationproject.vo.student.review.GetByStudentNoReviewListRespVo"
               extends="BaseResultMap">
        <result column="subject_name" jdbcType="LONGVARCHAR" property="subjectName"/>
        <result column="teacher_name" jdbcType="LONGVARCHAR" property="teacherName"/>
        <result column="student_name" jdbcType="LONGVARCHAR" property="studentName"/>
    </resultMap>

    <!-- 根据学号查询已接收课题文献 -->
    <select id="getByStudentNoReviewList" resultMap="getByStudentNoReviewListResultMap">
        select sb.id   subject_id,
               sb.name subject_name,
               sb.teacher_name,
               ss.student_no,
               cs.name student_name,
               cs.id   student_id,
               rw.id,
               rw.content,
               rw.status,
               rw.approve_suggest
        from gp_subject sb
                 inner join gp_subject_student ss on ss.subject_id = sb.id and sb.status = 2 and ss.status = 1
                 inner join cc_student cs on ss.student_id = cs.id
                 left join gp_review rw on rw.subject_id = sb.id and rw.student_no = ss.student_no
        where ss.status = #{status}
          and ss.student_no = #{studentNo}
    </select>

    <select id="selectBySubjectIdAndStudentId" resultMap="BaseResultMap">
        select * from gp_review where subject_id = #{subjectId} and student_id = #{studentId} order by id desc limit 1
    </select>
</mapper>