<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinfang.graduationproject.mapper.GpSubjectStudentScoreWeightMapper">

    <resultMap id="BaseResultMap" type="com.jinfang.graduationproject.domain.GpSubjectStudentScoreWeight">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="grade" jdbcType="VARCHAR" property="grade"/>
        <result column="school_id" jdbcType="BIGINT" property="schoolId"/>
        <result column="review_weight" jdbcType="DOUBLE" property="reviewWeight"/>
        <result column="translation_weight" jdbcType="DOUBLE" property="translationWeight"/>
        <result column="opening_report_weight" jdbcType="DOUBLE" property="openingReportWeight"/>
        <result column="opening_defense_weight" jdbcType="DOUBLE" property="openingDefenseWeight"/>
        <result column="dissertation_weight" jdbcType="DOUBLE" property="dissertationWeight"/>
        <result column="graduation_defense_weight" jdbcType="DOUBLE" property="graduationDefenseWeight"/>
        <result column="operate_user" jdbcType="VARCHAR" property="operateUser"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="is_del" jdbcType="INTEGER" property="isDel"/>
    </resultMap>

    <insert id="add" parameterType="com.jinfang.graduationproject.domain.GpSubjectStudentScoreWeight">
        insert into gp_subject_student_score_weight
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="grade != null">
                grade,
            </if>
            <if test="schoolId != null">
                school_id,
            </if>
            <if test="reviewWeight != null">
                review_weight,
            </if>
            <if test="translationWeight != null">
                translation_weight,
            </if>
            <if test="openingReportWeight != null">
                opening_report_weight,
            </if>
            <if test="openingDefenseWeight != null">
                opening_defense_weight,
            </if>
            <if test="dissertationWeight != null">
                dissertation_weight,
            </if>
            <if test="graduationDefenseWeight != null">
                graduation_defense_weight,
            </if>
            <if test="operateUser != null">
                operate_user,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="modifyDate != null">
                modify_date,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="grade != null">
                #{grade,jdbcType=VARCHAR},
            </if>
            <if test="schoolId != null">
                #{schoolId,jdbcType=BIGINT},
            </if>
            <if test="reviewWeight != null">
                #{reviewWeight,jdbcType=DOUBLE},
            </if>
            <if test="translationWeight != null">
                #{translationWeight,jdbcType=DOUBLE},
            </if>
            <if test="openingReportWeight != null">
                #{openingReportWeight,jdbcType=DOUBLE},
            </if>
            <if test="openingDefenseWeight != null">
                #{openingDefenseWeight,jdbcType=DOUBLE},
            </if>
            <if test="dissertationWeight != null">
                #{dissertationWeight,jdbcType=DOUBLE},
            </if>
            <if test="graduationDefenseWeight != null">
                #{graduationDefenseWeight,jdbcType=DOUBLE},
            </if>
            <if test="operateUser != null">
                #{operateUser,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyDate != null">
                #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        delete
        from gp_subject_student_score_weight
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.jinfang.graduationproject.domain.GpSubjectStudentScoreWeight">
        update gp_subject_student_score_weight
        <set>
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="grade != null">
                grade = #{grade,jdbcType=VARCHAR},
            </if>
            <if test="schoolId != null">
                school_id = #{schoolId,jdbcType=BIGINT},
            </if>
            <if test="reviewWeight != null">
                review_weight = #{reviewWeight,jdbcType=DOUBLE},
            </if>
            <if test="translationWeight != null">
                translation_weight = #{translationWeight,jdbcType=DOUBLE},
            </if>
            <if test="openingReportWeight != null">
                opening_report_weight = #{openingReportWeight,jdbcType=DOUBLE},
            </if>
            <if test="openingDefenseWeight != null">
                opening_defense_weight = #{openingDefenseWeight,jdbcType=DOUBLE},
            </if>
            <if test="dissertationWeight != null">
                dissertation_weight = #{dissertationWeight,jdbcType=DOUBLE},
            </if>
            <if test="graduationDefenseWeight != null">
                graduation_defense_weight = #{graduationDefenseWeight,jdbcType=DOUBLE},
            </if>
            <if test="operateUser != null">
                operate_user = #{operateUser,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select *
        from gp_subject_student_score_weight
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="findPage" resultMap="BaseResultMap">
        select *
        from gp_subject_student_score_weight
    </select>

    <delete id="deleteByGradeAndsSchoolId">
        delete
        from gp_subject_student_score_weight
        where grade = #{grade}
          and school_id = #{schoolId}
    </delete>

</mapper>